<div>
  <img src="/images/blog-img-1.png" alt="blog image" />
  <div class="mt-10">
    <h3 class="text-3xl"><a href="/blog-single.html">The Problem of today’s cultural development</a></h3>
    <div class="flex mt-4 items-center gap-x-5">
      <span>James C.</span>
      <span
        ><svg
          width="20"
          height="2"
          viewBox="0 0 20 2"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect y="0.5" width="19.0698" height="1" class="fill-dark dark:fill-white" />
        </svg>
      </span>
      <span>August 18, 2024</span>
    </div>
  </div>
</div>
