<div class="row py-16 border-b  border-b-border dark:border-darkmode-border mb-6">
  <div class="col-12 xl:col-8 xl:border-r xl:border-r-border dark:border-darkmode-border py-10 xl:pr-16">
    <div>
        <!-- event-1 -->
      <div class="row border-b  border-b-border dark:border-darkmode-border mb-6 px-3 md:px-0">
        <div class="col-12 md:col-3 mb-5 md:mb-0">
          <h4 class="text-2xl uppercase font-normal">
            <a href="/event-single.html">Dec 10</a>
          </h4>
        </div>
        <div class="col-12 md:col-9">
          <div
            class="row pb-5 border-b border-b-border dark:border-darkmode-border border-opacity-10"
          >
            <div class="col-5 pl-0">
              <p class="text-sm uppercase">9:00 AM - 12:30 PM</p>
            </div>
            <div class="col-7 pl-0 ">
              <p class="text-light font-light">
                Welcome Address & Opening Remarks. Keynote: "The Future of
                Design". Panel Discussion: "Designing Sustainability"
              </p>
            </div>
          </div>
          <div
            class="row py-5 border-b border-b-border dark:border-darkmode-border border-opacity-10"
          >
            <div class="col-5 pl-0">
              <p class="text-sm uppercase">12:30 PM - 3:30 PM</p>
            </div>
            <div class="col-7 pl-0">
              <p class="text-light font-light">
                Welcome Address & Opening Remarks. Workshop: "Mastering (UX)
                Design". Afternoon Break & Social Networking.
              </p>
            </div>
          </div>
          <div
            class="row py-5"
          >
            <div class="col-5 pl-0">
              <p class="text-sm uppercase">3:30 PM - 6:30 PM</p>
            </div>
            <div class="col-7 pl-0">
              <p class="text-light font-light">
                Breakout Sessions. <br> Networking Happy Hour.
              </p>
            </div>
          </div>
        </div>
      </div>
        <!-- event-2 -->
      <div class="row border-b  border-b-border dark:border-darkmode-border mb-6 px-3 md:px-0">
        <div class="col-12 md:col-3 mb-5 md:mb-0">
          <h4 class="text-2xl uppercase font-normal"> <a href="/event-single.html">Dec 10</a></h4>
        </div>
        <div class="col-12 md:col-9">
          <div
            class="row pb-5 border-b border-b-border dark:border-darkmode-border border-opacity-10"
          >
            <div class="col-5 pl-0">
              <p class="text-sm uppercase">9:00 AM - 12:30 PM</p>
            </div>
            <div class="col-7 pl-0">
              <p class="text-light font-light">
                Welcome Address & Opening Remarks. Keynote: "The Future of
                Design". Panel Discussion: "Designing Sustainability"
              </p>
            </div>
          </div>
          <div
            class="row py-5 border-b border-b-border dark:border-darkmode-border border-opacity-10"
          >
            <div class="col-5 pl-0">
              <p class="text-sm uppercase">12:30 PM - 3:30 PM</p>
            </div>
            <div class="col-7 pl-0">
              <p class="text-light font-light">
                Welcome Address & Opening Remarks. Workshop: "Mastering (UX)
                Design". Afternoon Break & Social Networking.
              </p>
            </div>
          </div>
          <div
            class="row py-5 "
          >
            <div class="col-5 pl-0">
              <p class="text-sm uppercase">3:30 PM - 6:30 PM</p>
            </div>
            <div class="col-7 pl-0">
              <p class="text-light font-light">
                Breakout Sessions. <br> Networking Happy Hour.
              </p>
            </div>
          </div>
        </div>
      </div>
        <!-- event-3 -->
      <div class="row px-3 md:px-0">
        <div class="col-12 md:col-3 mb-5 md:mb-0">
          <h4 class="text-2xl uppercase font-normal"> <a href="/event-single.html">Dec 10</a></h4>
        </div>
        <div class="col-12 md:col-9">
          <div
            class="row pb-5 border-b border-b-border dark:border-darkmode-border border-opacity-10"
          >
            <div class="col-5 pl-0">
              <p class="text-sm uppercase">9:00 AM - 12:30 PM</p>
            </div>
            <div class="col-7 pl-0">
              <p class="text-light font-light">
                Welcome Address & Opening Remarks. Keynote: "The Future of
                Design". Panel Discussion: "Designing Sustainability"
              </p>
            </div>
          </div>
          <div
            class="row py-5 border-b border-b-border dark:border-darkmode-border border-opacity-10"
          >
            <div class="col-5 pl-0">
              <p class="text-sm uppercase">12:30 PM - 3:30 PM</p>
            </div>
            <div class="col-7 pl-0">
              <p class="text-light font-light">
                Welcome Address & Opening Remarks. Workshop: "Mastering (UX)
                Design". Afternoon Break & Social Networking.
              </p>
            </div>
          </div>
          <div
            class="row py-5"
          >
            <div class="col-5 pl-0">
              <p class="text-sm uppercase">3:30 PM - 6:30 PM</p>
            </div>
            <div class="col-7 pl-0">
              <p class="text-light font-light">
                Breakout Sessions. <br> Networking Happy Hour.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 xl:col-4 xl:pl-10">
    <img src="/images/events-img.png" alt="events image" class="w-full xl:sticky xl:top-32" />
  </div>
</div>
