<div class="speaker-card">
  <img
    src="@@speakerImage"
    alt="allan"
    class="w-full xl:min-h-[380px] object-cover"
  />

  <div class="speaker-card-content">
    <a href="speaker-single.html" class="hover:text-primary hover:dark:text-darkmode-primary transition duration-300">@@speakerName</a>

    <div class="other">
      <p>CEO, Techwire</p>
      <ul class="social-icons -mt-4">
        <li>
          <a href="https://twitter.com" aria-label="twitter" target="_blank">
            <i class="fa-brands fa-twitter"></i>
          </a>
        </li>
        <li>
          <a
            href="https://instagram.com"
            aria-label="instagram"
            target="_blank"
          >
            <i class="fa-brands fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
