<div class="speaker-card">
  <img src="/images/allan-page.png" alt="allan" class="w-full rounded">

  <div class="speaker-card-content">
    <h3>
      <a href="speaker-single.html">Allan Page </a>
    </h3>
    <div class="other">
      <p>CEO, Techwire </p>
      <div class="icons">

        <a href="https://twitter.com" aria-label="twitter" target="_blank">
          <i class="fa-brands fa-twitter"></i>
        </a>
        <a href="https://instagram.com" aria-label="instagram" target="_blank">
          <i class="fa-brands fa-instagram"></i>
        </a>
        
      </div>
    </div>
  </div>
</div>
