<div class="speaker-card">
  <img
    src="/images/allan-page.png"
    alt="allan"
    class="w-full xl:min-h-[380px] object-cover"
  />

  <div class="speaker-card-content">
    <a href="speaker-single.html">Allan Page </a>

    <div class="other">
      <p>CEO, Techwire</p>
      <div class="icons">
        <a href="https://twitter.com" aria-label="twitter" target="_blank">
          <i class="fa-brands fa-twitter"></i>
        </a>
        <a href="https://instagram.com" aria-label="instagram" target="_blank">
          <i class="fa-brands fa-instagram"></i>
        </a>
      </div>
    </div>
  </div>
</div>
