
  
  <!--  All Tickets pass -->
  <div
    class="row py-16 border-b border-b-border dark:border-darkmode-border gap-y-6"
  >
    <!-- ticket-1 -->
    <div
      class="lg:col-6 xl:col-4 lg:border-r lg:border-r-border dark:border-darkmode-border border-b-0 2xl:pr-6"
    >
      <div
        class="ticket-item bg-theme-light dark:bg-theme-dark text-theme-dark dark:text-theme-light"
      >
        <div class="ticket-item-header">
          <h3>basic pass</h3>
          <p>
            For newcomers and those wanting a taste of fun at our conference
            event.
          </p>
        </div>
        <div class="ticket-item-body">
          <h2>
            $240
            <span>/ 1 person</span>
          </h2>
          <ul>
            <li>
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g opacity="0.5" clip-path="url(#clip0_1_768)">
                  <path
                    d="M3.125 11.25L7.5 15.625L17.5 5.625"
                    class="stroke-light"
                    stroke-width="1.8"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_1_768">
                    <rect width="20" height="20" fill="white" />
                  </clipPath>
                </defs>
              </svg>
              Access to keynote presentations
            </li>
            <li>
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g opacity="0.5" clip-path="url(#clip0_1_768)">
                  <path
                    d="M3.125 11.25L7.5 15.625L17.5 5.625"
                    class="stroke-light"
                    stroke-width="1.8"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_1_768">
                    <rect width="20" height="20" fill="white" />
                  </clipPath>
                </defs>
              </svg>
              Entry to the digital design showcase
            </li>
            <li>
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g opacity="0.5" clip-path="url(#clip0_1_768)">
                  <path
                    d="M3.125 11.25L7.5 15.625L17.5 5.625"
                    class="stroke-light"
                    stroke-width="1.8"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_1_768">
                    <rect width="20" height="20" fill="white" />
                  </clipPath>
                </defs>
              </svg>
              Participation in one hands-on workshop
            </li>
            <li>
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g opacity="0.5" clip-path="url(#clip0_1_768)">
                  <path
                    d="M3.125 11.25L7.5 15.625L17.5 5.625"
                    class="stroke-light"
                    stroke-width="1.8"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_1_768">
                    <rect width="20" height="20" fill="white" />
                  </clipPath>
                </defs>
              </svg>
              Participation in one hands-on workshop
            </li>
            <li>
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g opacity="0.5" clip-path="url(#clip0_1_768)">
                  <path
                    d="M3.125 11.25L7.5 15.625L17.5 5.625"
                    class="stroke-light"
                    stroke-width="1.8"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_1_768">
                    <rect width="20" height="20" fill="white" />
                  </clipPath>
                </defs>
              </svg>
              Digital goodie bag with resources
            </li>
          </ul>
        </div>
        <div class="ticket-item-footer">
          <a
            href="/get-tickets.html"
            class="bg-theme-dark text-theme-light dark:bg-theme-dark-gray hover:text-white hover:bg-light"
            >Get your ticket
          </a>
        </div>
      </div>
    </div>
    <!-- ticket-2 -->
    <div
      class="lg:col-6 xl:col-4 xl:border-r xl:border-r-border dark:border-darkmode-border border-b-0 2xl:px-6"
    >
      <div
        class="ticket-item bg-light/10 dark:bg-darkmode-theme-light text-dark dark:text-theme-light"
      >
        <div class="ticket-item-header">
          <h3>pro pass</h3>
          <p>
            For newcomers and those wanting a taste of fun at our conference
            event.
          </p>
        </div>
        <div class="ticket-item-body">
          <h2>
            $320
            <span>/ 1 person</span>
          </h2>
          <ul>
            <li>
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g opacity="0.5" clip-path="url(#clip0_1_768)">
                  <path
                    d="M3.125 11.25L7.5 15.625L17.5 5.625"
                    class="stroke-light"
                    stroke-width="1.8"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_1_768">
                    <rect width="20" height="20" fill="white" />
                  </clipPath>
                </defs>
              </svg>
              Access to keynote presentations
            </li>
            <li>
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g opacity="0.5" clip-path="url(#clip0_1_768)">
                  <path
                    d="M3.125 11.25L7.5 15.625L17.5 5.625"
                    class="stroke-light"
                    stroke-width="1.8"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_1_768">
                    <rect width="20" height="20" fill="white" />
                  </clipPath>
                </defs>
              </svg>
              Entry to the digital design showcase
            </li>
            <li>
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g opacity="0.5" clip-path="url(#clip0_1_768)">
                  <path
                    d="M3.125 11.25L7.5 15.625L17.5 5.625"
                    class="stroke-light"
                    stroke-width="1.8"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_1_768">
                    <rect width="20" height="20" fill="white" />
                  </clipPath>
                </defs>
              </svg>
              Participation in one hands-on workshop
            </li>
            <li>
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g opacity="0.5" clip-path="url(#clip0_1_768)">
                  <path
                    d="M3.125 11.25L7.5 15.625L17.5 5.625"
                    class="stroke-light"
                    stroke-width="1.8"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_1_768">
                    <rect width="20" height="20" fill="white" />
                  </clipPath>
                </defs>
              </svg>
              Digital goodie bag with resources
            </li>
          </ul>
        </div>
        <div class="ticket-item-footer">
          <a
            href="/get-tickets.html"
            class="bg-theme-dark text-darkmode-text dark:bg-theme-light dark:text-dark hover:text-white hover:bg-light"
            >Get your ticket
          </a>
        </div>
      </div>
    </div>
    <!-- ticket-3 -->
    <div class="lg:col-6 xl:col-4 2xl:pl-6">
      <div
        class="ticket-item bg-theme-dark dark:bg-theme-light text-darkmode-dark dark:text-theme-dark"
      >
        <div class="ticket-item-header">
          <h3>vip pass</h3>
          <p>
            For newcomers and those wanting a taste of fun at our conference
            event.
          </p>
        </div>
        <div class="ticket-item-body">
          <h2>
            $450
            <span>/ 1 person</span>
          </h2>
          <ul>
            <li>
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g opacity="0.5" clip-path="url(#clip0_1_768)">
                  <path
                    d="M3.125 11.25L7.5 15.625L17.5 5.625"
                    class="stroke-light"
                    stroke-width="1.8"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_1_768">
                    <rect width="20" height="20" fill="white" />
                  </clipPath>
                </defs>
              </svg>
              Access to keynote presentations
            </li>
            <li>
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g opacity="0.5" clip-path="url(#clip0_1_768)">
                  <path
                    d="M3.125 11.25L7.5 15.625L17.5 5.625"
                    class="stroke-light"
                    stroke-width="1.8"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_1_768">
                    <rect width="20" height="20" fill="white" />
                  </clipPath>
                </defs>
              </svg>
              Entry to the digital design showcase
            </li>
            <li>
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g opacity="0.5" clip-path="url(#clip0_1_768)">
                  <path
                    d="M3.125 11.25L7.5 15.625L17.5 5.625"
                    class="stroke-light"
                    stroke-width="1.8"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_1_768">
                    <rect width="20" height="20" fill="white" />
                  </clipPath>
                </defs>
              </svg>
              Participation in one hands-on workshop
            </li>
            <li>
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g opacity="0.5" clip-path="url(#clip0_1_768)">
                  <path
                    d="M3.125 11.25L7.5 15.625L17.5 5.625"
                    class="stroke-light"
                    stroke-width="1.8"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_1_768">
                    <rect width="20" height="20" fill="white" />
                  </clipPath>
                </defs>
              </svg>
              Digital goodie bag with resources
            </li>
          </ul>
        </div>
        <div class="ticket-item-footer">
          <a
            href="/get-tickets.html"
            class="bg-white text-dark dark:bg-dark dark:text-white hover:text-white hover:bg-light"
            >Get your ticket
          </a>
        </div>
      </div>
    </div>
  </div>

