<div class="container">
  
  <div class="section-title">
    <h1>Get a ticket of your plan</h1>
    <p>
      Exploit the potential of the digital, we develop memorable websites and
      help brands visual.
    </p>
  </div>
  <!--  All Tickets pass -->
  <div
    class="row py-14 border-b border-b-border dark:border-darkmode-border gap-y-5"
  >
    <!-- ticket-1 -->
    <div
      class="col-12 lg:col-6 xl:col-4 border-r border-r-border dark:border-darkmode-border border-b-0"
    >
      <div
        class="ticket-item bg-[#F9F9F9] dark:bg-[#222222] text-[#222222] dark:text-[#F9F9F9]"
      >
        <div class="ticket-item-header">
          <h3>basic pass</h3>
          <p>
            For newcomers and those wanting a taste of fun at our conference
            event.
          </p>
        </div>
        <div class="ticket-item-body">
          <h2>
            $240
            <span>/ 1 person</span>
          </h2>
          <ul>
            <li>
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g opacity="0.5" clip-path="url(#clip0_1_768)">
                  <path
                    d="M3.125 11.25L7.5 15.625L17.5 5.625"
                    stroke="#222222"
                    stroke-width="1.8"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_1_768">
                    <rect width="20" height="20" fill="white" />
                  </clipPath>
                </defs>
              </svg>
              Access to keynote presentations
            </li>
            <li>
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g opacity="0.5" clip-path="url(#clip0_1_768)">
                  <path
                    d="M3.125 11.25L7.5 15.625L17.5 5.625"
                    stroke="#222222"
                    stroke-width="1.8"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_1_768">
                    <rect width="20" height="20" fill="white" />
                  </clipPath>
                </defs>
              </svg>
              Entry to the digital design showcase
            </li>
            <li>
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g opacity="0.5" clip-path="url(#clip0_1_768)">
                  <path
                    d="M3.125 11.25L7.5 15.625L17.5 5.625"
                    stroke="#222222"
                    stroke-width="1.8"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_1_768">
                    <rect width="20" height="20" fill="white" />
                  </clipPath>
                </defs>
              </svg>
              Participation in one hands-on workshop
            </li>
            <li>
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g opacity="0.5" clip-path="url(#clip0_1_768)">
                  <path
                    d="M3.125 11.25L7.5 15.625L17.5 5.625"
                    stroke="#222222"
                    stroke-width="1.8"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_1_768">
                    <rect width="20" height="20" fill="white" />
                  </clipPath>
                </defs>
              </svg>
              Digital goodie bag with resources
            </li>
          </ul>
        </div>
        <div class="ticket-item-footer">
          <a
            href="/get-tickets.html"
            class="bg-[#222222] text-[#FFFFFF] dark:bg-[#494848] hover:text-white hover:bg-light"
            >Get your ticket
          </a>
        </div>
      </div>
    </div>
    <!-- ticket-2 -->
    <div
      class="col-12 lg:col-6 xl:col-4 border-r border-r-border dark:border-darkmode-border border-b-0"
    >
      <div
        class="ticket-item bg-[#DBDBDB] dark:bg-[#222222] text-[#222222] dark:text-[#F9F9F9]"
      >
        <div class="ticket-item-header">
          <h3>pro pass</h3>
          <p>
            For newcomers and those wanting a taste of fun at our conference
            event.
          </p>
        </div>
        <div class="ticket-item-body">
          <h2>
            $320
            <span>/ 1 person</span>
          </h2>
          <ul>
            <li>
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g opacity="0.5" clip-path="url(#clip0_1_768)">
                  <path
                    d="M3.125 11.25L7.5 15.625L17.5 5.625"
                    stroke="#222222"
                    stroke-width="1.8"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_1_768">
                    <rect width="20" height="20" fill="white" />
                  </clipPath>
                </defs>
              </svg>
              Access to keynote presentations
            </li>
            <li>
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g opacity="0.5" clip-path="url(#clip0_1_768)">
                  <path
                    d="M3.125 11.25L7.5 15.625L17.5 5.625"
                    stroke="#222222"
                    stroke-width="1.8"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_1_768">
                    <rect width="20" height="20" fill="white" />
                  </clipPath>
                </defs>
              </svg>
              Entry to the digital design showcase
            </li>
            <li>
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g opacity="0.5" clip-path="url(#clip0_1_768)">
                  <path
                    d="M3.125 11.25L7.5 15.625L17.5 5.625"
                    stroke="#222222"
                    stroke-width="1.8"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_1_768">
                    <rect width="20" height="20" fill="white" />
                  </clipPath>
                </defs>
              </svg>
              Participation in one hands-on workshop
            </li>
            <li>
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g opacity="0.5" clip-path="url(#clip0_1_768)">
                  <path
                    d="M3.125 11.25L7.5 15.625L17.5 5.625"
                    stroke="#222222"
                    stroke-width="1.8"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_1_768">
                    <rect width="20" height="20" fill="white" />
                  </clipPath>
                </defs>
              </svg>
              Digital goodie bag with resources
            </li>
          </ul>
        </div>
        <div class="ticket-item-footer">
          <a
            href="/get-tickets.html"
            class="bg-[#222222] text-[#FFFFFF] dark:bg-[#F9F9F9] dark:text-dark hover:text-white hover:bg-light"
            >Get your ticket
          </a>
        </div>
      </div>
    </div>
    <!-- ticket-3 -->
    <div
      class="col-12 lg:col-6 xl:col-4"
    >
      <div
        class="ticket-item bg-[#222222] dark:bg-[#F9F9F9] text-[#DBDBDB] dark:text-[#222222]"
      >
        <div class="ticket-item-header">
          <h3>vip pass</h3>
          <p>
            For newcomers and those wanting a taste of fun at our conference
            event.
          </p>
        </div>
        <div class="ticket-item-body">
          <h2>
            $450
            <span>/ 1 person</span>
          </h2>
          <ul>
            <li>
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g opacity="0.5" clip-path="url(#clip0_1_768)">
                  <path
                    d="M3.125 11.25L7.5 15.625L17.5 5.625"
                    stroke="#222222"
                    stroke-width="1.8"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_1_768">
                    <rect width="20" height="20" fill="white" />
                  </clipPath>
                </defs>
              </svg>
              Access to keynote presentations
            </li>
            <li>
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g opacity="0.5" clip-path="url(#clip0_1_768)">
                  <path
                    d="M3.125 11.25L7.5 15.625L17.5 5.625"
                    stroke="#222222"
                    stroke-width="1.8"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_1_768">
                    <rect width="20" height="20" fill="white" />
                  </clipPath>
                </defs>
              </svg>
              Entry to the digital design showcase
            </li>
            <li>
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g opacity="0.5" clip-path="url(#clip0_1_768)">
                  <path
                    d="M3.125 11.25L7.5 15.625L17.5 5.625"
                    stroke="#222222"
                    stroke-width="1.8"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_1_768">
                    <rect width="20" height="20" fill="white" />
                  </clipPath>
                </defs>
              </svg>
              Participation in one hands-on workshop
            </li>
            <li>
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g opacity="0.5" clip-path="url(#clip0_1_768)">
                  <path
                    d="M3.125 11.25L7.5 15.625L17.5 5.625"
                    stroke="#222222"
                    stroke-width="1.8"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_1_768">
                    <rect width="20" height="20" fill="white" />
                  </clipPath>
                </defs>
              </svg>
              Digital goodie bag with resources
            </li>
          </ul>
        </div>
        <div class="ticket-item-footer">
          <a
            href="/get-tickets.html"
            class="bg-white text-dark dark:bg-dark dark:text-white hover:text-white hover:bg-light"
            >Get your ticket
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
