<!-- Call to actions -->
<section class="mb-28 ">
  <div
    class="container dark:bg-darkmode-theme-light bg-darkmode-theme-dark text-dark dark:text-theme-light rounded-sm sm:px-16 sm:py-16 py-6 cto-bg"
  >
    <div class="row justify-center items-center">
      <div class=" lg:col-8 mb-10 lg:mb-0">
        <h2 class="uppercase text-h5 sm:text-h4 lg:text-h2 font-normal mb-6 leading-tight text-center lg:text-left">Get tickets now and enjoy benefits</h2>
        <p class="text-dark-gray dark:text-light text-lg text-center lg:text-left">
          We believe that brand identity design is essential. It captures the
          essence of your business and reflects your unique vision.
        </p>
      </div>
      <div class="lg:col-4 flex justify-center items-center">
        <div class="group bg-darkmode-theme-light dark:bg-darkmode-theme-dark text-theme-light dark:text-dark rounded-full flex justify-center items-center w-44 h-44 hover:bg-primary hover:text-white hover:dark:bg-primary hover:dark:text-white transition-all duration-300">
          <a class="flex justify-center items-center gap-2 uppercase text-sm w-full hover:text-white" href="/get-tickets.html">
            <span>Get Tickets</span>
      
            <svg
              width="9"
              height="9"
              viewBox="0 0 9 9"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5.93352 2.00002L0.876286 2.00001L0.876282 0.666687L8.20965 0.666697L8.2096 8.00001L6.87628 8.00001L6.87633 2.94283L1.13858 8.68057L0.195772 7.73776L5.93352 2.00002Z"
                class="fill-theme-light dark:fill-dark group-hover:fill-white transition-all duration-300"
              />
            </svg>
          </a>
        </div>
      </div>
      
    </div>
  </div>
</section>
<!-- /Call to actions -->
