<footer>
  <div class="container border-t border-t-border dark:border-darkmode-border">
    <div class="row py-16 gap-y-10">
      <!-- about company -->
      <div
        class="lg:col-4 lg:border-r lg:border-r-border dark:border-darkmode-border xl:pr-32 mb-10 lg:mb-0"
      >
        <!-- navbar brand/logo -->

        <a class="mb-5 lg:mb-9 flex items-center gap-x-2" href="index.html">
          <svg
            width="22"
            height="23"
            viewBox="0 0 22 23"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.32087 22.1377L8.80129 14.7008L2.57505 18.8709L0 14.3357L6.70666 11.0689L0 7.80201L2.57505 3.26685L8.80129 7.4369L8.32087 0H13.4902L12.9905 7.4369L19.2168 3.26685L21.7918 7.80201L15.1044 11.0689L21.7918 14.3357L19.2168 18.8709L12.9905 14.7008L13.4902 22.1377H8.32087Z"
              class="fill-primary dark:fill-darkmode-primary"
            />
          </svg>

          <img
            src="/images/logo-light.png"
            alt="logo"
            class="block dark:hidden"
          />
          <img
            src="/images/logo-dark.png"
            alt="logo"
            class="hidden dark:block"
          />
        </a>
        <p class="mb-8 lg:mb-14 dark:text-light text-lg leading-7">
          We help local companies and services enter the market, and well-known
          brands expand an audience.
        </p>
        <a
          class="mb-8 lg:mb-16 inline-block uppercase border-b-2 border-b-border dark:border-darkmode-border text-sm hover:text-primary transition duration-300"
          href="/contact"
          >Let’s contact us</a
        >

        <ul class="social-icons">
          <li>
            <a
              href="https://www.facebook.com"
              target="_blank"
              aria-label="Visit us on Facebook"
            >
              <i class="fa-brands fa-facebook-f" aria-hidden="true"></i>
              <span class="sr-only">Facebook</span>
            </a>
          </li>
          <li>
            <a
              href="https://www.twitter.com"
              target="_blank"
              aria-label="Visit us on Twitter"
            >
              <i class="fa-brands fa-twitter" aria-hidden="true"></i>
              <span class="sr-only">Twitter</span>
            </a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com"
              target="_blank"
              aria-label="Visit us on LinkedIn"
            >
              <i class="fa-brands fa-linkedin-in" aria-hidden="true"></i>
              <span class="sr-only">LinkedIn</span>
            </a>
          </li>
          <li>
            <a
              href="https://www.github.com"
              target="_blank"
              aria-label="Visit us on GitHub"
            >
              <i class="fa-brands fa-github" aria-hidden="true"></i>
              <span class="sr-only">GitHub</span>
            </a>
          </li>
        </ul>
      </div>

      <!-- company links -->
      <div class="lg:col-8 xl:pl-16 flex flex-col justify-center">
        <div class="row justify-between footer-links">
          <!-- col-1  -->
          <div class="lg:col-4 mb-10 xl:mb-0">
            <h2>Quick Links</h2>
            <ul>
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a href="events.html">About The Event</a>
              </li>
              <li>
                <a href="speakers.html">Speakers</a>
              </li>
              <li>
                <a href="/">Workshop Sessions</a>
              </li>
              <li>
                <a href="/">Sponsor Partners </a>
              </li>
            </ul>
          </div>
          <!-- col-2  -->
          <div class="lg:col-4 mb-10 xl:mb-0">
            <h2>Contact Info</h2>
            <ul>
              <li class="my-3 inline-block font-light lg:pr-24">
                27 Division St, New York, NY 10002, USA
              </li>
              <li>
                <a href="tel:123456789">+1 800 123 654 987</a>
              </li>
              <li>
                <a href="mailto:W5a2p@example.com">info@designerevent.com</a>
              </li>
            </ul>
          </div>

          <!-- col-3  -->
          <div class="lg:col-4 mb-10 xl:mb-0">
            <h2>Get started</h2>
            <ul>
              <li>
                <a href="events.html">Register Now</a>
              </li>
              <li>
                <a href="get-tickets.html">Get Tickets</a>
              </li>
              <li>
                <a href="/">Our Gallery</a>
              </li>
              <li>
                <a href="/">Stay in the loop</a>
              </li>
              <li>
                <a href="/">Terms of service</a>
              </li>
            </ul>
          </div>
        </div>
        <!--  footer action button   -->
        <div class="mt-16">
          <a
            class="btn btn-lg btn-primary-outline rounded-full flex items-center justify-center gap-x-2 group"
            href="/events.html"
            ><span>Register Now</span>
            <svg
              width="28"
              height="28"
              viewBox="0 0 28 28"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_1_1210)">
                <path
                  d="M7 21L21 7"
                  class="stroke-dark dark:stroke-darkmode-dark group-hover:stroke-darkmode-dark transition-all duration-300"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M9.625 7H21V18.375"
                  class="stroke-dark dark:stroke-darkmode-dark group-hover:stroke-darkmode-dark transition-all duration-300"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </g>
              <defs>
                <clipPath id="clip0_1_1210">
                  <rect width="28" height="28" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- bottom footer -->
  <!-- Copyright  -->
  <div
    class="container border-t border-t-border dark:border-darkmode-border pt-16 pb-12 uppercase"
  >
    <div
      class="flex flex-col md:flex-row justify-center md:justify-between items-center g-y-2"
    >
      <p class="text-center sm:text-left">
        © 2022 - 2025 | All rights reserved by Conf
      </p>

      <div class="flex gap-2">
        <a
          href="/"
          class="text-center sm:text-right hover:text-primary transition duration-300"
          >Terms of Service</a
        >|
        <a
          href="/"
          class="text-center sm:text-right hover:text-primary transition duration-300"
        >
          Privacy Policy</a
        >
      </div>
    </div>
  </div>
</footer>

<!-- jQuery -->
<!-- <script src="plugins/jquery/jquery.min.js"></script> -->
<!-- Swiper JS -->
<script src="plugins/swiper/swiper-bundle.js"></script>
<!-- Main Script -->
<script src="scripts/main.js"></script>
