<footer>
  <div class="container border-t border-t-border dark:border-darkmode-border">
    <div class="row py-16 gap-y-10">
      <!-- about company -->
      <div
        class="lg:col-4 lg:border-r lg:border-r-border dark:border-darkmode-border xl:pr-32 mb-10 lg:mb-0"
      >
        <!-- navbar brand/logo -->
        <a class="inline-block mb-5 lg:mb-9" href="/">
          <img
            src="images/logo.png"
            class="dark:hidden"
            alt="Conf Theme"
          />
          <img
            src="images/logo-darkmode.png"
            class="hidden dark:inline-block"
            alt="Conf Theme"
          />
        </a>
        <p
          class="mb-8 lg:mb-14 text-darkmode-light dark:text-light  text-lg leading-7"
        >
          We help local companies and services enter the market, and well-known
          brands expand an audience.
        </p>
        <a
          class="mb-8 lg:mb-16 inline-block uppercase border-b-2 border-b-border dark:border-darkmode-border text-sm"
          href="/contact"
          >Let’s contact us</a
        >

        <ul class="social-icons-footer">
          <li>
            <a href="https://www.facebook.com" target="_blank" aria-label="Visit us on Facebook">
              <i class="fa-brands fa-facebook-f" aria-hidden="true"></i>
              <span class="sr-only">Facebook</span>
            </a>
          </li>
          <li>
            <a href="https://www.twitter.com" target="_blank" aria-label="Visit us on Twitter">
              <i class="fa-brands fa-twitter" aria-hidden="true"></i>
              <span class="sr-only">Twitter</span>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com" target="_blank" aria-label="Visit us on LinkedIn">
              <i class="fa-brands fa-linkedin-in" aria-hidden="true"></i>
              <span class="sr-only">LinkedIn</span>
            </a>
          </li>
          <li>
            <a href="https://www.github.com" target="_blank" aria-label="Visit us on GitHub">
              <i class="fa-brands fa-github" aria-hidden="true"></i>
              <span class="sr-only">GitHub</span>
            </a>
          </li>
        </ul>
        
      </div>

      <!-- company links -->
      <div class="lg:col-8 xl:pl-16 flex flex-col justify-center ">
        <div class="row justify-between">
          <!-- {{/* col-1 */}} -->
          <div class="lg:col-4 mb-10 xl:mb-0">
            <h2
              class="mb-4 xl:mb-8 text-2xl lg:text-xl font-normal leading-7 uppercase"
            >
              Quick Links
            </h2>
            <ul class="flex flex-col uppercase text-sm ">
              <li class="my-3 inline-block font-light">
                <a href="/">Home</a>
              </li>
              <li class="my-3 inline-block font-light">
                <a href="/">About The Event</a>
              </li>
              <li class="my-3 inline-block font-light">
                <a href="/">Speakers</a>
              </li>
              <li class="my-3 inline-block font-light">
                <a href="/">Workshop Sessions</a>
              </li>
              <li class="my-3 inline-block font-light">
                <a href="/">Sponsor Partners </a>
              </li>
            </ul>
          </div>
          <!-- {{/* col-2 */}} -->
          <div class="lg:col-4 mb-10 xl:mb-0">
            <h2
              class="mb-4 xl:mb-8 text-2xl lg:text-xl font-normal leading-7 uppercase"
            >
              Contact Info
            </h2>
            <ul class="flex flex-col uppercase text-sm ">
              <li class="my-3 inline-block font-light lg:pr-24">
                27 Division St, New York, NY 10002, USA
              </li>
              <li class="my-3 inline-block font-light">
                <a href="tel:123456789">+1 800 123 654 987</a>
              </li>
              <li class="my-3 inline-block font-light">
               <a href="mailto:W5a2p@example.com"> info@designerevent.com</a>
              </li>
            </ul>
          </div>

          <!-- {{/* col-3 */}} -->
          <div class="lg:col-4 mb-10 xl:mb-0">
            <h2
              class="mb-4 xl:mb-8 text-2xl lg:text-xl font-normal leading-7 uppercase"
            >
              Get started
            </h2>
            <ul class="flex flex-col uppercase text-sm">
              <li class="my-3 inline-block font-light">
                <a href="/">Register Now</a>
              </li>
              <li class="my-3 inline-block font-light">
                <a href="/">Get Tickets</a>
              </li>
              <li class="my-3 inline-block font-light">
                <a href="/">Our Gallery</a>
              </li>
              <li class="my-3 inline-block font-light">
                <a href="/">Stay in the loop</a>
              </li>
              <li class="my-3 inline-block font-light">
                <a href="/">Terms of service</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- {{/*  footer action button  */}} -->
        <div class="btn btn-outline mt-16 footer-action-btn">
          <a
            class="w-full flex items-center justify-center gap-x-2 "
            href="/events.html"
            ><span>Register Now</span>
            <svg
              width="28"
              height="28"
              viewBox="0 0 28 28"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_1_1210)">
                <path
                  d="M7 21L21 7"
                  class="stroke-dark dark:stroke-white stroke-hover"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M9.625 7H21V18.375"
                  class="stroke-dark dark:stroke-white stroke-hover"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </g>
              <defs>
                <clipPath id="clip0_1_1210">
                  <rect width="28" height="28" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- bottom footer -->
  <!-- {{/* Copyright */}} -->
  <div
    class="container border-t border-t-border dark:border-darkmode-border pt-16 pb-12 uppercase"
  >
    <div
      class="flex flex-col md:flex-row justify-center md:justify-between items-center g-y-2"
    >
      <p class="text-center sm:text-left">
        © 2022 - 2025 | All rights reserved by Conf
      </p>

   <div class="flex gap-2">
    <a href="/" class="text-center sm:text-right">Terms of Service</a>|
    <a href="/" class="text-center sm:text-right"> Privacy Policy</a>
   </div>
    </div>
  </div>
</footer>

<!-- jQuery -->
<!-- <script src="plugins/jquery/jquery.min.js"></script> -->
<!-- Swiper JS -->
<script src="plugins/swiper/swiper-bundle.js"></script>
<!-- Main Script -->
<script src="scripts/main.js"></script>
